<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Finance Review - Content</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/content/content-review.css}">
</head>

<body th:fragment="bodyheader">

<nav class="menu">
    <ul>
        <li><a th:href="@{/content/home}">홈</a></li>
        <li><a th:href="@{/content/category}">카테고리</a></li>
        <li><a th:href="@{/content/info}">정보</a></li>
        <li><a th:href="@{/}">메인으로</a></li>
    </ul>
</nav>

<!-- 🔥 본문을 감싸는 wrapper 추가 -->
<div class="content-wrapper">
